# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas

# tests/linter
black
pytest

# API

# utilities
six>=1.14
joblib
memoized-property
termcolor
streamlit
datetime
requests
matplotlib
plotly
fpdf
kaleido
wordcloud
